<?xml version="1.0" encoding="UTF-8"?>

<!--
First-time install dialog sequence:
 - WelcomeDlg
 - ConfigureDlg
 - CustomizeDlg
 - ProgressDlg
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Binary Id="HdknUI_Ico_Info"   SourceFile="installer/media/information.ico" />
        <Binary Id="HdknUI_Bmp_Banner" SourceFile="installer/media/banner.bmp" />

        <WixVariable Id="HdknUILicenseRtf" Value="../../../LICENSE.rtf" />

        <UI Id="HdknUI">
            <Property Id="DefaultUIFont">DlgFont8</Property>
      
            <TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
            <TextStyle Id="DlgTitleFont" FaceName="Tahoma" Size="14" />

            <DialogRef Id="WelcomeDlg" />
            <DialogRef Id="ConfigureDlg" />
            <DialogRef Id="CustomizeDlg" />
            <DialogRef Id="ProgressDlg" />

            <Publish Dialog="WelcomeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ConfigureDlg">1</Publish>

            <Publish Dialog="ConfigureDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>

            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="ConfigureDlg">1</Publish>

            <InstallUISequence>
                <Show Dialog="WelcomeDlg" After="CostFinalize">NOT Installed</Show>
                <Show Dialog="ProgressDlg" Before="ExecuteAction" />
            </InstallUISequence>
        </UI>
    </Fragment>
</Wix>
